.account {
  border: 1px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;

  .name {

  }

  ul {
    list-style: none;
  }
  .see-transactions {
    text-decoration: underline;
  }
  .see-transactions:hover {
    cursor: pointer;
  }
}
