@import './variables.scss';

$bordercolor: $offblack;

.transactions {
  margin: 1em auto 1em auto;
  width: 75vw;
  background-color: $offwhite;
  border: 1px solid $bordercolor;
  border-collapse: separate;
  border-radius: 4px;

  tr {

    th, td {
      padding: 0.5em;
    }
    th {
      font-weight: bold;
      text-align: center;
      color: $bordercolor;
      border: 1px solid $bordercolor;
      height: 100%;
      line-height: 100%;

      .glyph {
        float: right;
        &:hover {cursor: pointer;}
      }
    }
    td {
      text-align: left;
      border: 1px solid $bordercolor;
    }
  }
}
